{% extends 'layout.html.twig' %}

{% block title %}Sélectionne ta licorne -
	{{parent()}}
{% endblock %}

{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="/assets/css/unicorn.css">
{% endblock %}

{% block content %}
	<main>
		<h1 class="unicorn-title">Sélectionne ta licorne,
			{{ user.nickName }}
		</h1>
		<pre>
			{{ dump(unicorns) }}
		</pre>
		<h2 class="unicorn-title">N'oublie pas que tu ne peux choisir qu'une seule licorne, réfléchis bien !</h2>
		<ul class="unicorns">
			<li class="unicorn">
				<div class="unicorn-name">
					<h3>Allena</h3>
				</div>
				<div class="unicorn-image">
					<img src="/assets/images/unicorn/allena.png" alt="">
				</div>
				<div class="unicorn-skills">
					<h4>Capacités</h4>
				</div>
				<div class="unicorn-table">
					<table>
						<tr>
							<th>Nom</th>
							<th>Coût</th>
							<th>Gain</th>
							<th>Chance</th>
						</tr>

						<tr>
							<td>Etoiles filantes</td>
							<td>2</td>
							<td>4</td>
							<td>90%</td>
						</tr>
						<tr>
							<td>Cabrage</td>
							<td>4</td>
							<td>10</td>
							<td>70%</td>
						</tr>
						<tr>
							<td>Bisou</td>
							<td>8</td>
							<td>24</td>
							<td>30%</td>
						</tr>
					</table>
				</div>
			</li>
		</li>
		<li class="unicorn">
			<div class="unicorn-name">
				<h3>Larissa</h3>
			</div>
			<div class="unicorn-image">
				<img src="/assets/images/unicorn/allena.png" alt="">
			</div>
			<div class="unicorn-skills">
				<h4>Capacités</h4>
			</div>
			<div class="unicorn-table">
				<table>
					<tr>
						<th>Nom</th>
						<th>Coût</th>
						<th>Gain</th>
						<th>Chance</th>
					</tr>

					<tr>
						<td>Clin d'oeil</td>
						<td>3</td>
						<td>6</td>
						<td>75%</td>
					</tr>
					<tr>
						<td>Malice</td>
						<td>5</td>
						<td>15</td>
						<td>60%</td>
					</tr>
					<tr>
						<td>Bisou</td>
						<td>8</td>
						<td>24</td>
						<td>30%</td>
					</tr>
				</table>
			</div>
		</li>
	</li>
	<li class="unicorn">
		<div class="unicorn-name">
			<h3>Suki</h3>
		</div>
		<div class="unicorn-image">
			<img src="/assets/images/unicorn/allena.png" alt="">
		</div>
		<div class="unicorn-skills">
			<h4>Capacités</h4>
		</div>
		<div class="unicorn-table">
			<table>
				<tr>
					<th>Nom</th>
					<th>Coût</th>
					<th>Gain</th>
					<th>Chance</th>
				</tr>

				<tr>
					<td>Etoiles filantes</td>
					<td>2</td>
					<td>4</td>
					<td>90%</td>
				</tr>
				<tr>
					<td>Câlin</td>
					<td>7</td>
					<td>20</td>
					<td>40%</td>
				</tr>
				<tr>
					<td>Bisou</td>
					<td>8</td>
					<td>24</td>
					<td>30%</td>
				</tr>
			</table>
		</div>
	</li>
</li></ul></main>{% endblock %}{% block javascript %}{{parent()}}<script type="application/javascript" src="/assets/js/profilePic.js"></script><script src="/assets/js/card-flip.js"></script>{% endblock %}
