{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/userForm.css">
{% endblock %}

{% block content %}
<section class="formSection">
<form method="post" enctype="multipart/form-data">
	<h1>Edit user {{ user.nickName }}  </h1>
	
		<div class="image-holder" id="image-holder">
		<img src="/../assets/images/{{ user.avatar }}" alt="Avatar" class="userPic" >
		</div>

		<input type="hidden" value={{user.id}} name="id" id="id" placeholder="id" >
		<input type="hidden" value={{user.score}} name="score" id="score" placeholder="score" >

		<label for="firstName" display="hidden" required></label>
		<input type="text" value="{{user.firstName}}" name="firstName" id="firstName" placeholder="Prenom">

		<label for="lastName" display="hidden" required></label>
		<input type="text" value="{{user.lastName}}" name="lastName" id="lastName" placeholder="Nom">

		<label for="nickName" display="hidden" required></label>
		<input type="text" value="{{user.nickName}}" name="nickName" id="nickName" placeholder="Nickname">

		<label for="email" display="hidden" required></label>
		<input type="text" value="{{user.email}}" name="email" id="email" placeholder="Email">

		<label for="avatar"></label>
		<input id="avatar" name="avatar" type="file" value={{user.avatar}} accept="image/*"/>

		<label for="description" display="hidden" required></label>
		<input type="text" value="{{user.description}}" name="description" id="description" placeholder="Description">


	<button class="redButton">Enregistrer</button>
</form>
</section>
{% endblock %}