{% extends 'layout.html.twig' %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/show.css">
  <link rel="stylesheet" href="/assets/css/userForm.css">
{% endblock %}

{% block title %}
Personal Profile - {{ parent() }}
{% endblock %}

{% block content %}

<aside id="id01" class="modal">
<div class="modal-content">
<section class="formSection">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  {# <section class="formSection formSectionModale"> #}

    <h3>Are you sure you want to delete your account {{user.nickName}}?</h3>

    <div class="modalButtons">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelButton">Cancel</button><br>
      <button onclick="location.href='delete?id={{ user.id }}'" type="button" class="redButton">Delete account</button>
    </div>
    </section>
    </div>
    
   
</aside>

<section class="top">

	<div class="left-top">
	  <img src="/assets/images/profile/img_avatar.png" alt="Avatar" class="userPic">
	</div>

	<div class="right-top">
		<div class="rank">🥇 1st</div>
		<div class="points">{{ user.score }} Points</div>
	</div>

</section>

<section class="bottomSection">

  <h2>My Details <a href="/users/edit?id={{ user.id }}" style="font-size: 20px;">✏️</a></h2>

	<table>
    <tr>
      <td>Prenom</td>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <td>Nom</td>
      <td>{{ user.lastName }}</td>
    </tr>
    <tr>
      <td>Nickname</td>
      <td>{{ user.nickName }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ user.description }}</td>
    </tr>
  </table>

</section>

<div class="endDiv">
	<a href="#" onclick="document.getElementById('id01').style.display='block'">Supprimer mon profil</a>
	<a href="/users">⬅️Retour</a>
</div>

{% endblock %}

{% block javascript %}
<script type="application/javascript" src="/assets/js/confirmModale.js"></script>
{% endblock %}