{% extends 'layout.html.twig' %}

{% block title %}Combat
{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/assets/css/fight.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
{% endblock %}

{% block content %}
    <main>
        <div class="choose_fighter">
            <p>Choisis ton adversaire!</p>
        </div>

		<div class="sectionVS">
			<img src="" alt="Avatar">
			<img src="\assets\images\vs-index.png" alt="vs picture">
			<img src="\assets\images\profile\{{opponentPicture}}" alt="avatar opponent">
		</div>

        <table>
			<tr>
				<th></th>
				<th>Rang</th>
				<th>Pseudo</th>
				<th>Points</th>
			</tr>
			{# {% set rank = 1 %} #}
			{% for user in users %}
					<a href="Fight/index.html.twig?id=user.id">
					<tr id="rowSelected">
					

						<td><img src="" alt="avatar"></td>
						<td>{{user.rank}}</td>
						<td class="right-justify">{{user.nickName}}</td>
						<td class="right-justify">{{user.score}}</td>
						
					</tr>
					</a>
				
				{# {% set rank =  rank + 1  %} #}
			{% endfor %}
		</table>

        <button class="goFight"style="button"> Lancer le combat ! </button>
        
    </main>
{% endblock %}