{% extends 'layout.html.twig' %}

{% block title %}FightPage - {{parent()}}
{% endblock %}

{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="/assets/css/battle.css"/> 
{% endblock %}

{% block content %}
<main class="fight">

    <section class="battle">
        <img class="player" src="/assets/images/profile/{{sessionUser ? sessionUser.avatar : 'img_avatar.png'}}">
        <img class="versus" src="/assets/images/vs-index.png">
        <img class="player" src="/assets/images/fight.png">
    </section>

    <section class="round">
        <h1> ROUND 1 </h1>
    </section>

 <div class="tableau">
     <section class="name">
        {{unicorn[0].unicornName}}
    </section>

    <div class="containerTableau">
            <section class="avatarCapacity"> X</section>
        <section>

        <div class="titleTableau"> capacités</div>

        <div class="capacity">
                                   
                    <div>Nom</div>
                    <div>Côut</div>
                    <div>Gain</div>
                    <div>Chance</div>
                
        </div>

        <div>
            {% for attack in unicorn %}                        
                <ol>                    
                    <li>
                        {{attack.attName}}
                    </li>                     
                     <li>
                        {{attack.attCost}}
                    </li>    
                     <li>
                        {{attack.attGain}}
                    </li>     
                     <li>
                        {{attack.attSuccessRate}}
                    </li>                                     
                </ol>
            {%  endfor %}                  
        </div>
        </section>
    </div>

 </div>
  
    <section class="round">
        <h2> utilise l'une des capacités de ta licorne !</h2>
    </section>

    <section class="containerRedButton">
        <div>
            <a href="{{attack.attName}}" class="selectAttack">clin d'oeil </a>
        </div>
        <div>
            <a href="{{attack.attName}}" class="selectAttack">Malice </a>
        </div>
        <div>
            <a href="{{attack.attName}}" class="selectAttack">Bisous </a>
        </div>
    </section>

</main>
{% endblock %}